@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 530;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-SemiBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PP Neue Montreal/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mondwest';
  src: url('/fonts/Bitmap Font Pack/PPMondwest-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBit';
  src: url('/fonts/Bitmap Font Pack/PPNeueBit-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-BoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-Medium.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-RegularItalic.otf') format('opentype');
  font-weight: 530;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('/fonts/PP Neue Montreal Mono/PPNeueMontrealMono-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Editorial New';
  src: url('/fonts/PP Editorial New/PPEditorialNew-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}