@import "tailwindcss";

body
{
	padding: 3rem;
	background: #f8f3df;
	color: #282924;
	font-family: 'Neue Montreal';
}


html, body {
  overscroll-behavior: none;
}

img {
  object-fit: cover;
}

.neue-montreal {
	font-family: 'Neue Montreal';
}

.neue-montreal-mono {
	font-family: 'Neue Montreal Mono';
}

.mondwest {
	font-family: 'Mondwest';
}

.neuebit {
	font-family: 'NeueBit';
}